In [24]:
from sklearn.svm import SVR
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

In [ ]:
# loading the data
from google.colab import files
uploaded = files.upload()

Saving FB_stock.csv to FB_stock.csv

In [23]:
#storing and showing the data
df = pd.read_csv('FB_stock.csv')
df

          Date        Open        High  ...       Close   Adj Close    Volume
0   2019-05-01  194.779999  196.179993  ...  193.029999  193.029999  15996600
1   2019-05-02  193.000000  194.000000  ...  192.529999  192.529999  13209500
2   2019-05-03  194.380005  196.160004  ...  195.470001  195.470001  14575400
3   2019-05-06  191.240005  194.279999  ...  193.880005  193.880005  13994900
4   2019-05-07  192.539993  192.899994  ...  189.770004  189.770004  16253000
5   2019-05-08  189.389999  190.720001  ...  189.539993  189.539993  12505700
6   2019-05-09  187.199997  189.770004  ...  188.649994  188.649994  12967000
7   2019-05-10  188.250000  190.000000  ...  188.339996  188.339996  12578500
8   2019-05-13  183.500000  185.429993  ...  181.539993  181.539993  16833300
9   2019-05-14  182.520004  183.490005  ...  180.729996  180.729996  17628100
10  2019-05-15  180.419998  187.279999  ...  186.270004  186.270004  16746900
11  2019-05-16  185.050003  188.580002  ...  186.990005  186.990005  12953100
12  2019-05-17  184.839996  187.580002  ...  185.300003  185.300003  10485400
13  2019-05-20  181.880005  184.229996  ...  182.720001  182.720001  10352000
14  2019-05-21  184.570007  185.699997  ...  184.820007  184.820007   7502800
15  2019-05-22  184.729996  186.740005  ...  185.320007  185.320007   9213800
16  2019-05-23  182.419998  183.899994  ...  180.869995  180.869995  12768800
17  2019-05-24  182.330002  183.630005  ...  181.059998  181.059998   8807700
18  2019-05-28  181.539993  184.710007  ...  184.309998  184.309998  14843300
19  2019-05-29  183.500000  184.559998  ...  182.190002  182.190002  12797700
20  2019-05-30  183.080002  183.479996  ...  183.009995  183.009995   8581500
21  2019-05-31  180.279999  180.539993  ...  177.470001  177.470001  15226500

[22 rows x 7 columns]

In [25]:
# get the number of rows and columns 
df.shape

(22, 7)

In [26]:
## our model will predict the stock value for  last day and testing parameter is adjusted close price

In [27]:
#Get and print the last row of data

actual_price = df.tail(1)
actual_price

          Date        Open        High  ...       Close   Adj Close    Volume
21  2019-05-31  180.279999  180.539993  ...  177.470001  177.470001  15226500

[1 rows x 7 columns]

In [28]:
#prepare the data for training thr svr models
# get all of the data except last row
df = df.head(len(df)-1)

#new dataset
print(df)

          Date        Open        High  ...       Close   Adj Close    Volume
0   2019-05-01  194.779999  196.179993  ...  193.029999  193.029999  15996600
1   2019-05-02  193.000000  194.000000  ...  192.529999  192.529999  13209500
2   2019-05-03  194.380005  196.160004  ...  195.470001  195.470001  14575400
3   2019-05-06  191.240005  194.279999  ...  193.880005  193.880005  13994900
4   2019-05-07  192.539993  192.899994  ...  189.770004  189.770004  16253000
5   2019-05-08  189.389999  190.720001  ...  189.539993  189.539993  12505700
6   2019-05-09  187.199997  189.770004  ...  188.649994  188.649994  12967000
7   2019-05-10  188.250000  190.000000  ...  188.339996  188.339996  12578500
8   2019-05-13  183.500000  185.429993  ...  181.539993  181.539993  16833300
9   2019-05-14  182.520004  183.490005  ...  180.729996  180.729996  17628100
10  2019-05-15  180.419998  187.279999  ...  186.270004  186.270004  16746900
11  2019-05-16  185.050003  188.580002  ...  186.990005  186.990005  12953100
12  2019-05-17  184.839996  187.580002  ...  185.300003  185.300003  10485400
13  2019-05-20  181.880005  184.229996  ...  182.720001  182.720001  10352000
14  2019-05-21  184.570007  185.699997  ...  184.820007  184.820007   7502800
15  2019-05-22  184.729996  186.740005  ...  185.320007  185.320007   9213800
16  2019-05-23  182.419998  183.899994  ...  180.869995  180.869995  12768800
17  2019-05-24  182.330002  183.630005  ...  181.059998  181.059998   8807700
18  2019-05-28  181.539993  184.710007  ...  184.309998  184.309998  14843300
19  2019-05-29  183.500000  184.559998  ...  182.190002  182.190002  12797700
20  2019-05-30  183.080002  183.479996  ...  183.009995  183.009995   8581500

[21 rows x 7 columns]

In [64]:
# create empty list to store the independent and dependent data
days = []
adj_close_prices=[]

In [65]:
# get the data and adjusted close prices

#loc = label based, we need to have to specify rows and columns based on their row and column labels
#iloc = integer based, iloc is integer position-based, so you have to specify rows and columns by their integer position values
df_days = df.loc[:,'Date']
df_adj_close = df.loc[:,'Adj Close']

print('days:',df_days)
print("Adjusted close price:",df_adj_close)


# #Alternatively
# df_days = df.iloc[:,0]
# df_adj_close = df.iloc[:,-2]

# print('days:',df_days)
# print("Adjusted close price:",df_adj_close)

days: 0     2019-05-01
1     2019-05-02
2     2019-05-03
3     2019-05-06
4     2019-05-07
5     2019-05-08
6     2019-05-09
7     2019-05-10
8     2019-05-13
9     2019-05-14
10    2019-05-15
11    2019-05-16
12    2019-05-17
13    2019-05-20
14    2019-05-21
15    2019-05-22
16    2019-05-23
17    2019-05-24
18    2019-05-28
19    2019-05-29
20    2019-05-30
Name: Date, dtype: object
Adjusted close price: 0     193.029999
1     192.529999
2     195.470001
3     193.880005
4     189.770004
5     189.539993
6     188.649994
7     188.339996
8     181.539993
9     180.729996
10    186.270004
11    186.990005
12    185.300003
13    182.720001
14    184.820007
15    185.320007
16    180.869995
17    181.059998
18    184.309998
19    182.190002
20    183.009995
Name: Adj Close, dtype: float64

In [66]:
# create the independent data set

for day in df_days:
  days.append( [int(day.split('-')[2])]) 
  #we add only day and not whole date


# create the dependent data set
for adj_close_price in df_adj_close:
  adj_close_prices.append(float(adj_close_price))

In [67]:
#print the days and adj close prices
print(days)
print(adj_close_prices)

[[1], [2], [3], [6], [7], [8], [9], [10], [13], [14], [15], [16], [17], [20], [21], [22], [23], [24], [28], [29], [30]]
[193.029999, 192.529999, 195.470001, 193.880005, 189.770004, 189.53999299999998, 188.649994, 188.33999599999999, 181.53999299999998, 180.729996, 186.270004, 186.990005, 185.300003, 182.720001, 184.820007, 185.320007, 180.869995, 181.059998, 184.309998, 182.190002, 183.009995]